.list {
  width: 300px;
  margin: 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

/* .list form { */
/*   overflow: hidden; */
/* } */

.list .well {
  padding: 5px;
}

.list .panel {
  margin-bottom: 5px;
}

.list .panel-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #e0e0e0 !important;
}

.list .panel-body {
  padding: 5px;
  background-color: #e0e0e0;
}

.list-item {
  font-size: 9pt;
  background-color: #fff;
  position: relative;
}

.list-item .btn-toolbar {
  color: blue;
  position: absolute;
  top: 0px;
  right: 0px;
}

.list-item p {
  margin: 5px 0;
}

.new-list {
  display: inline-block;
  width: 100px;
}

.new-list-actions {
  margin-top: 5px;
}

.new-list-actions button {
  display: block;
  float: right;
}
.list .caret {
  display: none !important;
}

.list .dropdown-toggle {
  padding: 0px;
}

