.list {
  width: 300px;
  margin: 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.list .panel {
  margin-bottom: 5px;
}
.list .panel-body {
  padding: 5px;
}
.new-list {
  display: inline-block;
  width: 100px;
}
